@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.emi-calculator-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  font-family: "Poppins";
}
.title{
  font-weight: bold;
}
.range{
  cursor: pointer;
  width: 100%;
}
.labels{
  display: flex;
  justify-content: space-between;
}
.tenure-container{
  display: flex;
  justify-content: space-between;
}
.tenure-buttons{
  width: 15%;
  height: 50px;
  background-color: #e2e2e2;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
.selected-button{
  background-color: #009ad6;
  color: white;
}